<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="igarape.cbmsc.bombcast"
    android:versionCode="2"
    android:versionName="1.01"
    >

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />


    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->

    <application
        android:name=".BombCastApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".views.SplashScreenActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".views.LoginActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
            />
        <activity
            android:name=".views.Server_193Activity"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
            android:launchMode="singleTop"
            />
        <activity
            android:name=".views.Select_Vtr_Activity"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
            android:launchMode="singleTop"
            />
        <activity
            android:name=".views.Ocorrencia_Activity"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            />
        <activity
            android:name=".views.ListaDetalhesActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" />
        <service android:name=".utils.UploadService" />
        <service android:name=".service.BackgroundVideoRecorder" />


        <receiver
            android:name=".receiver.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>

        <service android:name=".service.GcmIntentService" />


        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".views.MapaOcorrenciaActiviy"
            android:label="@string/title_activity_mapa_ocorrencia_activiy" >
        </activity>
    </application>

</manifest>
